<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IndependentRealtorApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IndependentRealtorApp.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #f5f5dc;" class="bg-image">
    <div class="container">
        <header style="background-color: #f2f2f2; text-align: center">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: #f2f2f2; border-bottom: 1px solid #ddd; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); margin-bottom: 1rem;">

                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Independent Realtor App</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Add">Add New User</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Property" asp-action="Index">Admin Area</a>
                            </li>
                            <!-- Login buttons and links -->
                            @using Microsoft.AspNetCore.Identity
                            @using IndependentRealtorApp.Models.DomainModels
                            @inject SignInManager<Realtor> signInManager
                            <li class="nav-item ms-auto">
                                @if (signInManager.IsSignedIn(User))
                                {
                                // signed-in user - Log Out button and username
                                    <li class="nav-item">

                                        <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="Admin">
                                            <input type="submit" value="Log Out" />
                                            <span class="text-light">@User.Identity?.Name</span>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    // anonymous user - Register link and Log In button
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                                    </li>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
               @*  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Login buttons and links -->
                    @using Microsoft.AspNetCore.Identity
                    @using IndependentRealtorApp.Models.DomainModels
                    @inject SignInManager<Realtor> signInManager
                    <ul class="navbar-nav flex-grow-1">
                        @if (signInManager.IsSignedIn(User))
                        {
                        // signed-in user - Log Out button and username
                            <li class="nav-item">

                                <form method="post" asp-action="LogOut" asp-controller="Account" asp-area="Admin">
                                    <input type="submit" value="Log Out" />
                                    <span class="text-light">@User.Identity?.Name</span>
                                </form>
                            </li>
                        }
                        else
                        {
                            // anonymous user - Register link and Log In button
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                            </li>
                        }
                    </ul>
                </div> *@
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #f2f2f2;">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Independent Realtor App
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
