@model IEnumerable<IndependentRealtorApp.Models.DomainModels.Property>
@{
    ViewData["Title"] = "Property List Page";
}

<div class="bg-muted text-dark text-center p-1">
    <h1 class="m-2 p-3">Property List</h1>
</div>
<table class="table table-bordered table-striped mt-2 less-transparent-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Status</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in Model)
        {
            <tr>
                <td><img class="landing-listing-img-size" src="@property.ImageUrl" alt="@property.PropertyTitle" name="@property.PropertyTitle"></td>
                <td><a href="@Url.Action("Details", "Property", new { id = property.Id, title = property.PropertyTitle })">@property.PropertyTitle</a></td>
                <td>@property.PropertyDescription</td>
                <td>@property.PropertyAddress</td>
                <td>@property.PropertyCity</td>
                <td>@property.PropertyState</td>
                <td>@property.PropertyZip</td>
                <td>@property.PropertyStatus</td>
                <td>@property.PropertyPrice?.ToString("C", new CultureInfo("en-US"))</td>
            </tr>
        }
    </tbody>
</table>
